src/conf/wsdl/AP1_8080/Payment/Payment.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.bank.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.bank.com/">

<xs:element name="pay" type="tns:pay"/>

<xs:element name="payResponse" type="tns:payResponse"/>

<xs:complexType name="pay">
<xs:sequence>
<xs:element name="source" type="xs:long"/>
<xs:element name="destination" type="xs:long"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="passwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payResponse">
<xs:sequence>
<xs:element name="return" type="tns:rObImpl" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rObImpl">
<xs:complexContent>
<xs:extension base="tns:rOb">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="err_message" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="rOb">
<xs:sequence/>
</xs:complexType>
</xs:schema>